/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * BudgetBuddy Global Styles
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.offline-banner {
  background: var(--ion-color-warning);
  color: var(--ion-color-warning-contrast);
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.currency {
  font-weight: 600;
  color: var(--ion-color-primary);
}

.receipt-image {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin: 16px auto;
  display: block;
}

[data-theme="dark"] {
  ion-modal ion-datetime {
    --background: #ffffff;
    color: #000000;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff !important;
  }
  
  p, span, div {
    color: #ffffff !important;
  }
  
  ion-card-title,
  ion-card-subtitle,
  ion-label,
  ion-text {
    color: #ffffff !important;
  }
  
  .info-text,
  .currency {
    color: #ffffff !important;
  }
}

